$black: #000;
$white: #fff;
$red-orange: #f73434;
$royal-blue: #335dd8;
$white-smoke: #f8f8f8;
$white-smoke2: #f3f3f3;
$white-smoke3: #f2f2f2;
$white-smoke4: #f7f7f7;
$jackson-purple: #362d7e;
$moon-yellow: #f1b51c;
$safety-orange: #ff7600;
$provincial-pink: #f9e1d5;
$whisper: #e4e4e4;
$whisper2: #e8e8e8;
$suva-grey: #8b8a8a;
$suva-grey2: #8f8e8e;
$suva-grey3: #8d8c8c;
$tahiti-gold: #e26b2d;
$alice-blue: #eceff1;
$alice-blue2: #eaf0f4;
$raven: #6d6e71;
$azure: #f7f9f9;
$light-grey: #d4d4d4;
$light-grey2: #d3d3d3;
$dim-grey: #707070;
$very-light-grey: #c9c9c9;
$nobel: #999999;
$nobel2: #9a9a9a;
$pippin: #f8ddd5;
$golden-glow: #ffd886;
$bright-grey: #4d4f5c;
$selective-yellow: #fcb500;
$light-slate-grey: #7b8591;
$lime-green: #29c447;
$scampi: #7870a6;
$gun-powder: #43425d;
$kelly-green: #46c610;
$silver-chalice: #aeaeae;
$thunder: #231f20;
$boulder: #7a7a7a;
$boulder2: #737473;
$seashell: #f1f1f1;
$wild-sand: #f4f4f4;
$fuel-yellow: #eeae2b;
$cinnabar: #e34643;
$school-bus-yellow: #ffd800;
$bismark: #546e7a;
$chocolate: #e65c1b;
$apricot: #eb986e;
$gainsboro: #e3e3e3;
$gainsboro2: #E2E2E2;
$red: #f31010;
$red2: #f30f0f;
$silver: #bebebe;
$dark-pastel-green: #12be34;
$alizarin: #e31f26;
$cornflower-blue: #4c8af5;

$table-grey: #808080;
$table-red: #9a0000;
$table-green: #008000;
