@import "src/app/styles/mixins";
@import "src/app/styles/props";

:host {
  @include box(100%);
  @include padding(32px);
  display: block;
  overflow: auto;
}

.cm-scroll-container {
  @include flex(center, center, column, nowrap);
}

button {
  @include clickable(true);
  @include padding(5px 7px);
  min-height: 30px;
  width: 200px;
  background-color: $jackson-purple;
  border-radius: 3px;
  color: $white;

  &.cm-inline-button {
    background-color: transparent;
    color: $jackson-purple;
    width: auto;
  }
}

// button gap
button + button {
  margin-top: 10px;
}
