@import "../../styles/mixins";
@import "../../styles/props";

:host {
  display: block;
}

// card
app-rect-card {
  @include box(100%);
}

// header
.cm-header {
  @include flex(center);
  @include padding(0 10px);
  @include borderBottom(1px solid $white-smoke3);
  height: 67px;
}

// ball icon
.cm-ball-icon {
  background-color: $jackson-purple;

  ::ng-deep {
    path {
      fill: $white;
    }
  }
}

// title
.cm-title {
  font-size: 16px;
  font-weight: 700;
  color: $jackson-purple;
  margin-left: 16px;
  max-width: calc(100% - 46px);
  word-break: break-word;
}

// content
.cm-content {
  @include flex(stretch);
  height: 77px;

  .cm-child {
    @include itemFlex(1, 1, 0);
  }
}

// child item
.cm-child {
  @include flex(center, null, column);
  @include paddingTop(11px);
}

// child label
.cm-label {
  font-size: 12px;
  color: $light-slate-grey;
  text-align: center;
}

// child value
.cm-value {
  color: $light-slate-grey;
  font-size: 24px;
  font-weight: 700;
  margin-top: 8px;
  text-align: center;
}

// divider
app-divider {
  background-color: $white-smoke3;
}

