<!-- container -->
<app-modal-container>
  <!-- header -->
  <app-modal-header>
    Modify Credentials
  </app-modal-header>

  <!-- content -->
  <app-modal-content>
    <app-user-name-editable-field
      (modified)="openNameConfirmModal($event)"
      [firstName]="data.user.firstName"
      [lastName]="data.user.lastName"
      [loading]="nameLoading"></app-user-name-editable-field>

    <app-email-id-editable-field
      (modified)="openEmailConfirmModal($event)"
      [emailId]="data.user.emailId"
      [loading]="emailLoading"></app-email-id-editable-field>

    <app-phone-number-editable-field
      (modified)="openPhoneNumberConfirmModal($event)"
      [loading]="phoneLoading"
      [phone]="data.user.phoneNumber"></app-phone-number-editable-field>
  </app-modal-content>
</app-modal-container>
