<svg xmlns="http://www.w3.org/2000/svg" width="28" height="26" viewBox="0 0 28 26">
  <g id="Group_9626" data-name="Group 9626" transform="translate(16167 351)">
    <g id="person_search-24px" transform="translate(-16163 -349)">
      <g id="Group_9614" data-name="Group 9614">
        <g id="Group_9613" data-name="Group 9613">
          <circle id="Ellipse_264" data-name="Ellipse 264" cx="4" cy="4" r="4" transform="translate(6 4)" fill="#fff"/>
          <path id="Path_2312" data-name="Path 2312" d="M10.35,14.01C7.62,13.91,2,15.27,2,18v2h9.54A5.95,5.95,0,0,1,10.35,14.01Z" fill="#fff"/>
          <path id="Path_2313" data-name="Path 2313" d="M19.43,18.02A3.864,3.864,0,0,0,20,16a4,4,0,1,0-4,4,3.959,3.959,0,0,0,2.02-.57L20.59,22,22,20.59ZM16,18a2,2,0,1,1,2-2A2.006,2.006,0,0,1,16,18Z" fill="#fff"/>
        </g>
      </g>
    </g>
  </g>
</svg>
