<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <g id="Group_9671" data-name="Group 9671" transform="translate(-1087 -436)">
    <g id="add_circle-24px" transform="translate(1087 436)">
      <path id="Path_2140" data-name="Path 2140" d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm5,11H13v4H11V13H7V11h4V7h2v4h4Z" transform="translate(0 0)" fill="none" stroke="#e26b2d" stroke-width="1"/>
    </g>
    <rect id="Rectangle_2944" data-name="Rectangle 2944" width="2" height="10" transform="translate(1098 443)" fill="#e26b2d"/>
    <rect id="Rectangle_2945" data-name="Rectangle 2945" width="2" height="10" transform="translate(1104 447) rotate(90)" fill="#e26b2d"/>
  </g>
</svg>
