@import "src/app/styles/mixins";
@import "src/app/styles/props";

:host {
  @include flex(stretch);
  @include border(1px solid $tahiti-gold);
  height: 24px;
  border-radius: 12px;
  position: relative;
  background-color: $white;
}

// button
button {
  @include padding(0 12px);
  @include clickable(true);
  position: relative;
  border-radius: 11px;
  font-size: 12px;
  font-weight: 400;
  color: $tahiti-gold;
  z-index: 10;

  &.active {
    font-weight: 700;
    color: $white;
  }
}

// indicator
.cm-view-indicator {
  position: absolute;
  height: 100%;
  border-radius: 11px;
  background-color: $tahiti-gold;
  transition: left .15s;
}
