@import "src/app/styles/mixins";
@import "src/app/styles/props";

:host {
  display: block;
  width: 400px;
}

app-modal-content {
  font-size: 14px;
  line-height: 20px;
}

app-modal-actions {
  @include flex(center, center);

  button {
    width: 180px;
  }
}
