@import "../../../styles/mixins";
@import "../../../styles/props";

:host {
  @include flex(stretch, null, column, nowrap);

  // page content
  app-page-content {
    @include itemFlex(1, 1, 0);
    overflow: auto;
  }
}

// card
app-card {
  min-height: 480px;
}

// actions / table gap
app-card-actions + app-table {
  margin-top: 24px;
}
