<app-rect-card>
  <!-- header -->
  <app-rect-card-header>
    <ng-container heading>List of All Applications<br/><div>Till Date</div></ng-container>
    <app-card-actions
      *ngIf="!layoutView"
      [actionGroups]="actionGroups"></app-card-actions>
  </app-rect-card-header>

  <!-- content -->
  <div
    *ngIf="!layoutView; else layoutEditor"
    class="cm-card-content">
    <app-table
      (filterChange)="filters = $event; createDisplayableData()"
      (sortChange)="sort = $event; createDisplayableData()"
      [(selectAll)]="selectAll"
      [columns]="columns"
      [data]="displayableData"
      [loading]="loading"
      [totalColumnLength]="configs.length"></app-table>
  </div>

  <!-- editor -->
  <ng-template #layoutEditor>
    <app-table-layout-editor
      (cancelClick)="layoutView = false"
      (saveClick)="tableColumnService.splitApplicationColumnConfig = $event; layoutView = false"
      [initialConfigs]="tableColumnService.initialSplitApplicationColumnConfigs"
      [layouts]="configs"
      label="Show/Hide Columns"></app-table-layout-editor>
  </ng-template>
</app-rect-card>
