@import "src/app/styles/mixins";
@import "src/app/styles/props";

:host {
  display: block;
}

// rect card
app-rect-card {
  @include box(100%);
  @include padding(24px);
}

// header
.cm-header {
  @include flex(center, space-between);
}

app-toggle-filter {
  ::ng-deep {
    .cm-toggle-button {
      @include padding(0 14px);
    }
  }
}

// actions
.cm-actions {
  @include flex(center);

  button {
    font-size: 12px;

    .cm-icon {
      margin-right: 2px;
    }
  }

  button + button {
    margin-left: 42px;
  }
}

// table gap
app-table {
  margin-top: 20px;

  ::ng-deep {
    .cm-unselectable-row {
      td {
        .cm-cell-inner {
          opacity: .5;
        }

        &:first-child, &:last-child {
          .cm-cell-inner {
            opacity: 1;
          }
        }
      }
    }
  }
}

// footer
.cm-footer {
  @include flex(center, flex-end);
  margin-top: 29px;
}
