<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11.721" height="21"
     viewBox="0 0 11.721 21">
  <g transform="translate(0 0)">
    <image
      width="10.744" height="10.744"
      transform="translate(0.488 0)"
      xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAAXNSR0IArs4c6QAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAFqADAAQAAAABAAAAFgAAAAA/6RFgAAABkUlEQVQ4Ec2VT0sCQRjGn1FXOkXQRerWwVvfonNfoFPdokOnvoB069ChP/cgsksn7RhR0EWQICIiTCosMiQ1dV3Xdd9mFnbp1VXXQHAPOzP7Ps9v3pl5hxVvG4uEMTyhMTAd5NjAEZZxRIM2H4fAaPMRCO33J8AyPRwDa3NxxLaSXnCUTnF3FeZz1rOw1IRgQ08UpCNCgskYSS3pvw8R9zKw9fUKI38LIjswX2mNlzu0P3LMw8DUrKF0sI5GJh0IrqBKqzykVxmYHZ6KUEtHOZlAp1LE9NIaRDjMDO6A7A5ql8eopvZYNbjxHrATkGXzk95Hp/aNmeVNhKJTrt5p7XYL1fND1C+OZCb+2+YPVnZ5GI2rE9j1MmZXEhBa1IGSnLR8ug09k+oLVUK2x47z70vCjYcb2Ebd+2obOpr31wOhSjwY7OFG70wamF8Gv/X0P7wutbpZZBpo5bJOSXaFe4bDwQooa9aUt6tytgOz8Ohbt91kEeQPEoktwCoVAgHdCYZnLJXWZ97VB24nrSqGJ/4L3pyjTTpcHtAAAAAASUVORK5CYII="/>
    <g transform="translate(0 9.279)">
      <path d="M11.837,5.93H9.884V3H6.953V5.93H5L8.419,9.349ZM5,10.326V11.3h6.837v-.977Z"
            transform="translate(-2.558 -1.535)" fill="#e26b2d"/>
    </g>
  </g>
</svg>
