<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11.721" height="21"
     viewBox="0 0 11.721 21">
  <g transform="translate(0 9.279)">
    <path
      d="M11.837,5.93H9.884V3H6.953V5.93H5L8.419,9.349ZM5,10.326V11.3h6.837v-.977Z"
      transform="translate(-2.558 -1.535)" fill="#e26b2d"/>
  </g>
  <image
    width="10.744"
    height="10.744"
    transform="translate(0.488 0)"
    xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAAXNSR0IArs4c6QAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAFqADAAQAAAABAAAAFgAAAAA/6RFgAAAB4UlEQVQ4EbWVyytEURzHv9cxxnhcTN4WEsmCDZKdrGh2lig7UvM/sCDJztLCAiU1WVAWyGMhJYqyIFbkEWWYVzNj5t7rnJlmuue+BnVPTXN/v9/3fH6/+zuPKzx6OxTYMPJsYKaQtoHzTSsW/pBTkXUYQzCpaYJ7eBoCIboJWodCoaGjdcQud7mQIVjyv+JrcwEQBE5sZDjqmlHaP4rY1T6gqlwHdnV7UNQ5QBk5WkFzRq+PkXi6pfmpwX6q/cWDaV9L+0YQ3FtG4vnOqMCsj5RXQxycQICCjQYPTikUSIF3SP5nIz3gcMLZ0oXk2wMUVYVacY731cjp64oD4yjuHaKdsp5qHdVwXV0eOFt74F+fAqSkJsqbpuDC9j4IrpKs2tHQhjLPJD43ZoB4NOs3ezAFk4paVHmXQNz1INWNcI/N4tM3j+TLvRmL8xssXjoeOfEhr8BFgXNQkt+InO8gfnPKTbYyTMFss4cOV+nKyyBiFcIHK5RjsQ00WczBTEih4cO19A5QnSo1Q44EELu/AGT+vtCBWYXsmOYaRKxkmSF9PCG4vaiT82AKZRcKO/upY6qTqx0Cwmdbagf3LBh+QdiVmesCYu1WJA6mNviKMxHWz9+vU2YW92+6jznVPwzbwD/2nYUyYJzi0QAAAABJRU5ErkJggg=="/>
</svg>
