@import "src/app/styles/mixins";
@import "src/app/styles/props";

:host {
  display: block;
  width: 420px;
}

app-modal-content {
  font-size: 14px;
  line-height: 17px;
}

app-modal-actions {
  button {
    &:first-child {
      @include itemFlex(1, 1, 109px);
    }

    &:last-child {
      @include itemFlex(1, 1, 240px);
    }
  }
}
