<div class="cm-left">
  <h6>
    {{data?.name}}
  </h6>

  <span>
    {{data?.direction}}
  </span>
</div>

<div
  #container
  class="cm-date-selector">
  <div
    (click)="opened = !opened"
    class="cm-date-selector-button">
    <!-- range calendar -->
    <app-icon-calendar-range></app-icon-calendar-range>
    <span>
      {{data?.date ? (data?.date | date: 'dd/MM/yyyy') : 'Select Date'}}
    </span>
  </div>

  <app-more-options
    (autoClose)="opened = false"
    *ngIf="opened"
    [attr.autoPositionedHorizontal]="'right'"
    [closeOnScroll]="true"
    [closerContainer]="container"
    appAutoCloser
    class="adjacent">
    <div class="top-section">
      <app-date-input [(ngModel)]="data.date"></app-date-input>
    </div>
    <app-calendar
      [(selectedDate)]="data.date">
    </app-calendar>
  </app-more-options>
</div>
