@import "src/app/styles/mixins";
@import "src/app/styles/props";

:host {
  @include flex(stretch, space-between, column, nowrap);
  width: 250px;
  background-color: $jackson-purple;
}

// top
.cm-application-chart-filter-top {
  @include padding(9px 8px 14px);
}

// filter header
.cm-application-chart-filter-header {
  @include flex(center);
}

// icon
.cm-ball-icon {
  background-color: $white;

  ::ng-deep {
    path {
      fill: $jackson-purple;
    }
  }
}

// header right
.cm-application-chart-filter-header-right {
  @include flex(flex-start, null, column);
  margin-left: 9px;
}

// title
.cm-application-chart-filter-header-title {
  font-size: 16px;
  font-weight: 700;
  color: $white;
  line-height: 19px;
}

// sub title
.cm-application-chart-filter-header-sub-title {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: $scampi;
}

// form
.cm-application-chart-filter-form {
  @include flex(center, null, column, nowrap);
  margin-top: 16px;

  // form button
  button {
    @include rect(98px, 24px);
    @include border(1px solid $white);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 400;
    color: $white;
    transition: background-color .15s;
    margin-top: 16px;

    &:hover {
      background-color: rgba($white, .4);
    }

    &:active {
      background-color: rgba($white, .6);
    }
  }
}

// field
.cm-application-chart-filter-field {
  @include flex(center);
  @include paddingRight(12px);
  width: 100%;

  // icon
  .cm-icon {
    ::ng-deep {
      path {
        fill: $white;
      }
    }
  }

  .cm-date-input {
    @include flex(center, space-between);
    @include borderBottom(1px solid $nobel2);
    height: 24px;

    // input
    input {
      font-size: 14px;
      font-weight: 400;
      color: $white;
      width: calc(100% - 24px);
      background-color: transparent;
    }

    app-card-actions {
      padding: 0;
      margin-top: -5px;

      ::ng-deep {
        .cm-icon svg {
          width: 16px;
          height: 16px;

          path {
            fill: $white;
          }
        }

        .cm-card-action-label {
          display: none;
        }
      }
    }
  }

  // form field
  app-form-field {
    @include itemFlex(1, 1, 0);
    margin-left: 11px;

    ::ng-deep {
      // form field label
      .cm-form-field-label {
        font-size: 12px;
        line-height: 14px;
        color: $scampi;
      }

      .cm-form-field-content {
        margin-top: 2px;;
      }

      .ts-select-label {
        color: $white;

        // placeholder
        &.ts-placeholder {
          color: $suva-grey;
        }
      }
    }
  }
}

// field gap
.cm-application-chart-filter-field + .cm-application-chart-filter-field {
  margin-top: 24px;
}

// bottom
.cm-application-chart-filter-bottom {
  @include borderTop(1px solid $scampi);
  position: relative;

  // icon
  svg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

// bottom inner
.cm-application-chart-filter-bottom-inner {
  @include padding(26px 0 16px);
  @include flex(center, space-between, column);
}

// bottom label
.cm-application-chart-filter-bottom-label {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: $white;
  text-align: center;
}

// bottom value
.cm-application-chart-filter-bottom-value {
  font-size: 30px;
  line-height: 37px;
  font-weight: 900;
  color: $white;
  margin-top: 2px;
}
